* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: #282a36;
  color: #f8f8f2;
  font-family: "Inter";
}
.my-header {
  top: 0;
  position: fixed;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgba(40, 42, 54, 0.9);
  backdrop-filter: blur(5px);
  box-shadow: 0px 0px 10px 1px rgba(0,0,0,0.1);
  -webkit-box-shadow: 0px 0px 10px 1px rgba(0,0,0,0.1);
  -moz-box-shadow: 0px 0px 10px 1px rgba(0,0,0,0.1);
  padding-top: 10px;
  padding-bottom: 10px;
  width: 100%;
  font-size: 17px;
}
.btn-menu {
  margin-left: 10px;
  padding: 8px 15px 8px 15px;
  border: none;
  border-radius: 10px;
  background: none;
  color: #f8f8f2;
  font-size: 16px;
  transition: all 0.3s;
}
.btn-change {
  margin-right: 10px;
  padding: 8px 15px 8px 15px;
  background: none;
  border: none;
  border-radius: 10px;
  font-size: 16px;
  color: #f8f8f2;
  transition: all 0.3s;
}
.btn-menu:hover, .btn-change:hover {
  background-color: #3d4c7a;
}

.menu {
  display: flex;
  flex-direction: column;
  padding: 10px 20px 20px 20px;
  background-color: #282a36;
  position: fixed;
  top: 0;
  width: 330px;
  height: 100%;
}
.my-foto {
  display: flex;
  justify-content: center;
  margin-top: 30px;
}
.my-foto > img {
  height: 150px;
  width: 150px;
  border-radius: 100%;
}
.nav-links {
  width: 100%;
  margin-top: 80px;
}
.nav-links > a {
  padding: 10px;
  border-radius: 10px;
  transition: background 0.3s;
  display: block;
  color: #f8f8f2;
  font-size: 20px;
  text-decoration: none;
  text-align: center;
}
.nav-links a:hover {
  background-color: #3d4c7a;
}
.effect {
  transition: margin 0.4s;
}
.social-media {
  display: flex;
  justify-content: center;
  margin-top: 80px;
}
.btn-media {
  padding: 8px 15px 8px 15px;
  margin: 4px;
  border-radius: 10px;
  background: none;
  color: #f8f8f2;
  font-size: 20px;
  transition: all 0.4s;
}
.btn-media:hover {
  background-color: #3d4c7a;
}

.section-profile {
  margin: 120px 25px 25px 25px;
}
.my-profile > p {
  font-weight: 400;
  text-align: justify;
}
h2 {
  font-size: 28px;
  margin-top: 8px;
  margin-bottom: 15px;
}

.section-experience {
  margin: 30px 25px 25px 25px;
}
.section-experience div:nth-child(3) {
  border-left: 3px solid #ff5555;
}
.my-experience {
  margin-left: 6px;
  padding: 0px 10px 10px 25px;
}
.circle {
  float: left;
  border-radius: 100%;
  width: 15px;
  height: 15px;
  background-color: #ff5555;
}
.my-experience > h5 {
  margin: 10px 0px 10px 0px;
  font-weight: 300;
}
.my-experience > p {
  font-weight: 400;
  text-align: justify;
}

.section-education {
  margin: 30px 25px 25px 25px;
}
.section-education div:nth-child(3) {
  border-left: 3px solid #ff5555;
}
.my-education {
  margin-left: 6px;
  padding: 0px 10px 20px 20px;
}
.my-education > h5 {
  margin: 7px 0px 0px 0px;
  font-weight: 300;
}

.section-certifications {
  margin: 30px 25px 25px 25px;
}
.my-certifications > ul > li {
  margin-left: 20.5px;
  padding-bottom: 7px;
}

.section-skills {
  margin: 30px 25px 25px 25px;
}
.my-skills > ul > li {
  margin-left: 20.5px;
  padding-bottom: 7px;
}

.my-footer {
  margin-top: 75px;
  padding-bottom: 12px;
  text-align: center;
  font-size: 13px;
}
.my-footer > p {
  padding: 5px;
}
.my-footer > p > a {
  text-decoration: none;
  color: #f8f8f2;
  font-weight: bold;
}
.background-nulo {
  display: none;
}

@media screen and (min-width: 1020px) {
  .section-profile {
    padding-left: 30px;
    padding-right: 30px;
  }
  .section-experience {
    padding-left: 30px;
    padding-right: 50px;
  }
  .section-education {
    padding-left: 30px;
    padding-right: 30px;
  }
  .section-certifications {
    padding-left: 30px;
    padding-right: 30px;
  }
  .section-skills {
    padding-left: 30px;
    padding-right: 30px;
  }
}
@media screen and (min-width: 768px) {
  .section-profile {
    padding-left: 30px;
    padding-right: 30px;
  }
  .section-experience {
    padding-left: 30px;
    padding-right: 50px;
  }
  .section-education {
    padding-left: 30px;
    padding-right: 30px;
  }
  .section-certifications {
    padding-left: 30px;
    padding-right: 30px;
  }
  .section-skills {
    padding-left: 30px;
    padding-right: 30px;
  }
}